<div class="login-image">
    <img src="/assets/images/login/login.jpeg">
</div>
<div class="login-form">

    <waveButton label="signIn with google" (click)="signInWithGoogle()"></waveButton>


    <div class="login-title" translate="login.title"></div>
    <form [formGroup]="loginForm" novalidate (ngSubmit)="signIn()">
        <textInput [formControl]="controls.login" label="login.login"></textInput>
        <textInput [formControl]="controls.password" label="login.password" [password]="true"></textInput>
        <div *ngIf="errorMessage" class="login-error" [translate]="errorMessage"></div>
        <div class="login-forgetPassword" (click)="forgetPassword()" translate="login.forgetPassword"></div>
        <waveButton label="common.connect" type="submit" [disabled]="loginForm.invalid"></waveButton>
    </form>
</div>
