.dropdownComponent {
    position: relative;
    display: block;
    line-height: 0;
    user-select: none;

    dropdown-elem {
        position: relative;
        display: flex;
        align-items: center;

        .dropdown-elem {
            display: contents;
            cursor: pointer;
        }

        .dropdown-elem-bottom {
            position: absolute;
            top: calc(100% - 3px);
            right: calc(50% - 7px);
            width: 14px;
            height: 14px;
            border-right: 7px solid transparent;
            border-left: 7px solid transparent;
            border-bottom: 7px solid var(--separator-light-color);
            content: "";
            z-index: 2;
        }

        .dropdown-elem-top {
            position: absolute;
            top: -10px;
            right: calc(50% - 7px);
            width: 14px;
            height: 14px;
            border-right: 7px solid transparent;
            border-left: 7px solid transparent;
            border-top: 7px solid var(--separator-light-color);
            content: "";
            z-index: 2;
        }

        .dropdown-elem-right {
            position: absolute;
            top: calc(50% - 10px);
            right: -10px;
            width: 14px;
            height: 14px;
            border-top: 7px solid transparent;
            border-bottom: 7px solid transparent;
            border-right: 7px solid var(--separator-light-color);
            content: "";
            z-index: 2;
        }
    }

    .dropdown-elem-disable {
        cursor: default;
        svg {
            fill: #cacaca;
        }
    }

    .dropdown-content {
        position: absolute;
        min-width: 180px;
        max-width: 270px;
        max-height: calc(100vh - 71px);
        font-size: 1.4rem;
        font-weight: 400;
        padding: 6px;
        line-height: normal;
        color: var(--mainTextColor);
        border-radius: 2px;
        background: var(--dropdownBgColor);
        box-shadow: 0 1px 6px 2px rgba(0, 0, 0, 0.22);
        z-index: 13;

        dropdown-item {
            display: block;

            .dropdown-item {
                display: flex;
                align-items: center;
                margin: 0;
                padding: 5px 14px 5px 5px;
                font-weight: 400;
                white-space: nowrap;
                cursor: pointer;
                text-overflow: ellipsis;
                overflow: hidden;
                font-size: 1.6rem;

                .dropdown-item-icon {
                    margin-right: 8px;
                }

                .dropdown-item-input-icon {
                    margin-right: 0;
                    margin-left: 8px;

                    svg {
                        width: 30px;
                        height: 30px;
                    }
                }

                .dropdown-item-labels {
                    display: flex;
                    flex-direction: column;
                    padding: 3px 0;

                    .dropdown-item-details {
                        font-size: 0.9rem;
                    }
                    .dropdown-item-label {
                        text-overflow: ellipsis;
                        overflow: hidden;
                    }
                }

                .dropdown-item-input-label {
                    flex-grow: 10;
                    padding-left: 25px;
                    display: inline;

                    &:before {
                        top: 3px;
                    }

                    &:after {
                        left: 3px;
                        width: 10px;
                        height: 10px;
                    }
                }

                &:hover {
                    background-color: var(--dropdownHoverColor);
                    border-radius: 2px;
                }
            }

            .dropdown-item-select {
                .dropdown-item-labels {
                    color: var(--blue-azure);
                }

                svg {
                    fill: var(--blue-azure) !important;
                }
            }

            .dropdown-item-disable {
                cursor: not-allowed;
                color: var(--disabled-text-color);
                background-color: var(--main-background);
                border-radius: 3px;

                &:hover {
                    background-color: var(--main-background);
                }
            }
        }

        .dropdown-separator {
            height: 1px;
            width: 100%;
            margin: 5px 0;
            background: var(--middle-gray);
            cursor: default;
        }

        dropdown-title {
            display: block;
            white-space: nowrap;
        }

        .dropdown-title {
            width: 100%;
            padding: 5px 10px;
            margin: 2px 0;
            color: var(--main-text-color);
            background-color: var(--filter-background);
            cursor: default;
        }
    }

    .bottom-left {
        top: calc(100% + 10px);
        right: -4px;
    }

    .bottom-right {
        top: calc(100% + 10px);
        left: 0;
    }

    .top {
        bottom: calc(100% + 10px);
        left: calc(-50%);
    }

    .top-right {
        bottom: calc(100% + 10px);
        left: calc(-50%);
    }

    .top-left {
        bottom: calc(100% + 10px);
        right: -4px;
    }

    .right {
        top: 0;
        left: calc(100% + 10px);
    }
}