main {
    display: flex;
    flex-direction: column;
    height: 100%;

    header {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex: 0 0 60px;
        padding: 0 8px 0 4px;
        background: var(--just-gray);

        .main-header_title {
            margin: 0 10px;
            font-size: 2.4rem;
            cursor: pointer;
        }
        
        .main-header_right {
            margin-left: auto;
        }
    }

    section {
        flex: 1;
    }
}