main {
    display: flex;
    flex-direction: column;
    height: 100%;

    header {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex: 0 0 60px;
        padding: 0 4px;
        background: var(--just-gray);

        .main-header_title {
            margin: 0 10px;
            font-size: 2.4rem;
            cursor: pointer;
        }
        
        .main-header_right {
            margin-left: auto;

            .main-header_login {
                display: flex;
                flex-direction: row;
                align-items: center;
                cursor: pointer;
                icon { margin-right: 8px; }
                padding: 7px 10px;
                border-radius: 4px;
                
                &:hover, &:focus {
                    box-shadow: inset 0 0 0 3px var(--blue);
                }
            }
        }
    }

    section {
        flex: 1;
    }
}