
<div class="login-form">
    <div class="login-title" translate="forget"></div>
    <form [formGroup]="loginForm" novalidate (ngSubmit)="signIn()">
        <textInput [formControl]="controls.login" label="login.login"></textInput>
        <textInput [formControl]="controls.password" label="login.password" [password]="true"></textInput>
        <div class="login-forgetPassword" (click)="forgetPassword()" translate="login.forgetPassword"></div>
        <waveButton label="common.connect" type="submit" [disabled]="loginForm.invalid"></waveButton>
    </form>
</div>