textInput {
    display: block;
    position: relative;
    font-family: inherit;
}

.textInput-readOnly {
    font-size: 1.0rem;
}

.textInputErrorDetails {
    color: var(--red);
    margin: 0 0 15px;
}

.textInputShowPassword {
    position: absolute;
    top: 21px;
    right: 6px;
    cursor: pointer;
    display: block;

    svg {
        width: 17px;
        height: 17px;
        fill: #858ea2;
    }
}

textInput {
    .textInput-label {
        margin-bottom: 8px;
        color: var(--mainTextColor);
        user-select: none;
        font-size: 1.8rem;
    }

    .textInput-value {
        font-size: 1.8rem;
        margin-bottom: 10px;
    }

    input {
        line-height: 20px;
        padding: 0 0 0 4px;
        width: 300px;
        margin-bottom: 10px;
        color: var(--mainTextColor);
        border: none;
        padding: 13px;
        background: var(--textInputBgColor);
        border-radius: 3px;
        font-size: 2rem;
        transition: box-shadow 0.3s ease;

        &:hover, &:focus,&:focus-visible  {
            box-shadow: 0 0 0 3px var(--widgetFocusColor);
        }
    }

    .textInputError {
        color: var(--red);
        background: #f8d7da;
        border: solid 1px #f8d7da;

        &:hover, &:focus, &:focus-visible {
            box-shadow: 0 0 0 3px #e65d69;
        }
    }    
}

