html {
    height: 100%;
    font-size: 58%;
    font-family: 'Open Sans', sans-serif;
    background: var(--dark-gray);

    /* Colors */
    --white: #fefefe;
    --blue: #305b9c;
    --gray: #969696;
    --dark-gray: #151515;

    --mainTextColor: var(--white);
    --windowBgColor: #4b4e53;

    /* Define widgets colors */
    --widgetFocusColor: #1c8cfd;
    --textInputBgColor: #27282b;

    --buttonPrimaryBgColor: var(--blue);
    --buttonSecondaryBgColor: var(--gray);

}

body {
    height: 100%;
    margin: 0;
    font-size: 1.4rem;
}

.scrollY {
    overflow-y: auto;
    overflow-x: hidden;
}

.scrollY::-webkit-scrollbar {
    width: var(--scrollbar-width);
    background-color: transparent;
}

.scrollY::-webkit-scrollbar-thumb {
    background-color: lightgray;
    border-radius: 1px;
}

/* Input stuff */
*:focus {
    outline: none;
}

input {
    font-family: 'Open Sans', sans-serif;
}

input.ng-invalid.ng-dirty {
    border: 1px red solid;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

