html {
    height: 100%;
    font-size: 58%;
    font-family: 'Open Sans', sans-serif;
    background: var(--dark-gray);

    /* Colors */
    --white: #fefefe;
    --blue: #305b9c;
    --gray: #969696;
    --middle-gray: #4b4e53;
    --just-gray: #27282b;
    --dark-gray: #151515;
    --red: #ff0000;

    --mainTextColor: var(--white);

    /* Define widgets colors */
    --widgetFocusColor: var(--blue);
    --textInputBgColor: var(--just-gray);

    --buttonPrimaryBgColor: var(--blue);
    --buttonSecondaryBgColor: var(--gray);

    --dropdownBgColor: var(--just-gray);
    --dropdownHoverColor: var(--middle-gray);

}

body {
    height: 100%;
    margin: 0;
    font-size: 1.8rem;
    color: var(--mainTextColor);
    user-select: none;
}

.scrollY {
    overflow-y: auto;
    overflow-x: hidden;
}

.scrollY::-webkit-scrollbar {
    //width: var(--scrollbar-width);
    background-color: transparent;
}

.scrollY::-webkit-scrollbar-thumb {
    background-color: lightgray;
    border-radius: 1px;
}

/* Input stuff */
*:focus {
    outline: none;
}

input {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.8rem;
}

input.ng-invalid.ng-dirty {
    border: 1px red solid;
}


input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px var(--textInputBgColor) inset !important;
    color: var(--white);
}

